# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyA6AHFIFhVb00nEBIPBisB4FeVHhf8KXHs
VITE_FIREBASE_AUTH_DOMAIN=store-manager-9d453.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://store-manager-9d453-default-rtdb.asia-southeast1.firebasedatabase.app
VITE_FIREBASE_PROJECT_ID=store-manager-9d453
VITE_FIREBASE_STORAGE_BUCKET=store-manager-9d453.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=688049006421
VITE_FIREBASE_APP_ID=1:688049006421:web:64cf711a346965929771dc
VITE_FIREBASE_MEASUREMENT_ID=G-SWBK61RCYR
